<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>pages/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <location>/pages/errorpage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.login.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.login.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.admin.AdminServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>RegistrateDeveloperServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.admin.RegistrateDeveloperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewOrderServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.customer.CreateNewOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.customer.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DevelopersInfoServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.DevelopersInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnconfirmedOrdersServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.UnconfirmedOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectDetailServletServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.ProjectDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectDevelopersServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.ProjectDevelopersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveProjectDeveloperServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.RemoveProjectDeveloperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProjectDeveloperServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.AddProjectDeveloperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrateProjectServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.RegistrateProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeveloperServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.developer.DeveloperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitHoursReportServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.developer.SubmitHoursReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilterProjectDevelopersServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.manager.FilterProjectDevelopersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.customer.OrderDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderTaskServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.customer.AddOrderTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveOrderTaskServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.customer.RemoveOrderTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.customer.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeLanguageServlet</servlet-name>
    <servlet-class>com.epam.web.servlet.login.ChangeLanguageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/registratenewuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewOrderServlet</servlet-name>
    <url-pattern>/createneworder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>RegistrateDeveloperServlet</servlet-name>
    <url-pattern>/registratedeveloper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DevelopersInfoServlet</servlet-name>
    <url-pattern>/developersinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnconfirmedOrdersServlet</servlet-name>
    <url-pattern>/unconfirmedorders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectDetailServletServlet</servlet-name>
    <url-pattern>/projectdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectDevelopersServlet</servlet-name>
    <url-pattern>/projectdevelopers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveProjectDeveloperServlet</servlet-name>
    <url-pattern>/removeprojectdeveloper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProjectDeveloperServlet</servlet-name>
    <url-pattern>/addprojectdeveloper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrateProjectServlet</servlet-name>
    <url-pattern>/registrateproject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeveloperServlet</servlet-name>
    <url-pattern>/developer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitHoursReportServlet</servlet-name>
    <url-pattern>/submithoursreport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilterProjectDevelopersServlet</servlet-name>
    <url-pattern>/filterprojectdevelopers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <url-pattern>/orderdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/deleteorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderTaskServlet</servlet-name>
    <url-pattern>/addordertask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveOrderTaskServlet</servlet-name>
    <url-pattern>/removeordertask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeLanguageServlet</servlet-name>
    <url-pattern>/changelanguage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.epam.web.filter.AdminFilter</filter-class>
  </filter>
  <filter>
    <filter-name>DeveloperFilter</filter-name>
    <filter-class>com.epam.web.filter.DeveloperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CustomerFilter</filter-name>
    <filter-class>com.epam.web.filter.CustomerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustomerFilter</filter-name>
    <url-pattern>/customer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CustomerFilter</filter-name>
    <url-pattern>/customer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CustomerFilter</filter-name>
    <url-pattern>/deleteorder</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CustomerFilter</filter-name>
    <url-pattern>/orderdetails</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>com.epam.web.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/manager</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/projectdetails</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/unconfirmedorders</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/projectdevelopers</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/removeprojectdeveloper</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/addprojectdeveloper</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/registrateproject</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/filterprojectdevelopers</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DeveloperFilter</filter-name>
    <url-pattern>/developer</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GeneralFilter</filter-name>
    <filter-class>com.epam.web.filter.GeneralFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GeneralFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>